<div class="container-fluid">
  <div class="row">
    <div class="search-doc">
      <input type="text" placeholder="Search docs..." />
    </div>
    <ul class="metismenu sidebarMenu list-unstyled">
                    <li><a href="layout-general.html">Overview</a></li>
                    <li class="active">
                        <a class="has-arrow" href="#" aria-expanded="false">Grid</a>
                        <ul aria-expanded="false" class="collapse in">
                            <li><a href="#">Grid API</a></li>
                            <li><a href="#">Grid Callbacks</a></li>
                            <li><a href="#">Column Filter</a></li>
                            <li><a href="#">Row Filter</a></li>
                            <li class="active"><a href="#">Row Selection</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="true">Content</a>
                        <ul aria-expanded="true" class="collapse">
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Images</a></li>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Tables</a></li>
                            <li><a href="#">Code</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="true">Utilities</a>
                        <ul aria-expanded="true" class="collapse">
                            <li><a href="#">Alerts</a></li>
                            <li><a href="#">Accordion</a></li>
                            <li><a href="#">Progress</a></li>
                            <li><a href="#">Buttons</a></li>
                            <li><a href="#">Changelog</a></li>
                        </ul>
                    </li>
                </ul>
  </div>
</div>